In [32]:
my last name + " " name = mozafari sayed 
print(my last name + name)

SyntaxError: invalid syntax (1769504699.py, line 1)

In [ ]:
last_name = "Mozafari"
print(last_name)

22

In [15]:
my_name = "sayed"
print(my_name)

sayed

In [25]:
print("my name is sayed")
print("i am 31 years old")
print(1 + 1)
x = 5
print(5 * x)

my name is sayed
i am 31 years old
2
25

name = "Sayed"
Age = '31'
City = "Berlin"

print(my name is + name)

In [30]:
name = "Sayed"
age = '31'
city = "Berlin"
print("my name is + name")
print(i am + age years old)
print("i come from + city")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3575859139.py, line 5)

In [33]:
julia_age = 32
age_diff = 1

print(julia_age - age_diff)

31

In [35]:
# exercise 1
my_name = "sayed"
print(my_name)

sayed

In [46]:
#exercise 2
my_age = 21
print(my_age)

21

In [39]:
#exercise 3
julia_age = 32
age_diff =  my_age - julia_age

print(my_age, age_diff)

22 -10

In [47]:
#exercise 4
if my_age > 21:
  print("You are older than 21")
else:
  print("You are not older than 21")

You are not older than 21

In [48]:
my_age == julia_age

False

In [50]:
#exercise 5
if my_age > julia_age:
  print("You are older than julia")
elif my_age == julia_age:
  print("Julia is older than you" "Julia is younger than you" "You are the same age as Julia")

  
else:
  print("You are not younger than julia")

You are not younger than julia

In [ ]:
#exercise 6